<style>
.container{
  margin: 20px;
  padding-bottom: 10px;
}
</style>

<main class="main">
  <div class="container">
    <div>
      <app-auth-button></app-auth-button>
    </div>
    <div *ngIf="isLogin">
      <div>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <span [innerHTML]="detail"></span>
      </div>
      <div>
        <button
        matButton="filled"
        (click)="startAnalysis()"
        *ngIf="detail == null"
        [disabled]="isLoading">解析</button>
      </div>
    </div>

  </div>
</main>
